<!-- <div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <h3>{{ isEditMode ? "Edit Product" : "Add Product" }}</h3>
    <form #productForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="productSku">Product SKU</label>
        <input
          id="productSku"
          type="text"
          [(ngModel)]="productFormData.ProductSku"
          name="productSku"
          #productSku="ngModel"
          required
          minlength="3"
        />
        <div *ngIf="productSku.invalid && productSku.touched" class="error">
          <small *ngIf="productSku.errors?.['required']"
            >Product SKU is required.
          </small>
          <small *ngIf="productSku.errors?.['minlength']">
            Product SKU must be at least 3 characters long.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="productName">Product Name</label>
        <input
          id="productName"
          type="text"
          [(ngModel)]="productFormData.ProductName"
          name="productName"
          #productName="ngModel"
          required
        />
        <div *ngIf="productName.invalid && productName.touched" class="error">
          <small>Product Name is required.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="productPrice">Product Price</label>
        <input
          id="productPrice"
          type="number"
          [(ngModel)]="productFormData.ProductPrice"
          name="productPrice"
          #productPrice="ngModel"
          required
          min="1"
        />
        <div *ngIf="productPrice.invalid && productPrice.touched" class="error">
          <small *ngIf="productPrice.errors?.['required']"
            >Product Price is required.</small
          >
          <small *ngIf="productPrice.errors?.['min']"
            >Product Price must be greater than 0.</small
          >
        </div>
      </div>

      <div class="form-group">
        <label for="productShortName">Short Name</label>
        <input
          id="productShortName"
          type="text"
          [(ngModel)]="productFormData.ProductShortName"
          name="productShortName"
          #productShortName="ngModel"
          maxlength="20"
        />
        <div
          *ngIf="productShortName.invalid && productShortName.touched"
          class="error"
        >
          <small *ngIf="productShortName.errors?.['maxlength']">
            Short Name must not exceed 20 characters.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="productDescription">Description</label>
        <textarea
          id="productDescription"
          [(ngModel)]="productFormData.ProductDescription"
          name="productDescription"
          #productDescription="ngModel"
          maxlength="200"
        ></textarea>
        <div
          *ngIf="productDescription.invalid && productDescription.touched"
          class="error"
        >
          <small *ngIf="productDescription.errors?.['maxlength']">
            Description must not exceed 200 characters.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="productImageUrl">Product Image URL</label>
        <input
          id="productImageUrl"
          type="text"
          [(ngModel)]="productFormData.ProductImageUrl"
          name="productImageUrl"
          #productImageUrl="ngModel"
          required
          pattern="https?://.+"
        />
        <div
          *ngIf="productImageUrl.invalid && productImageUrl.touched"
          class="error"
        >
          <small *ngIf="productImageUrl.errors?.['required']"
            >Image URL is required.</small
          >
          <small *ngIf="productImageUrl.errors?.['pattern']">
            Image URL must start with "http://" or "https://".
          </small>
        </div>
      </div>

      <div class="modal-actions">
        <button type="button" (click)="closeModal()">Cancel</button>
        <button type="submit" [disabled]="productForm.invalid">Save</button>
      </div>
    </form>
  </div>
</div>

<button class="add-product-btn" (click)="openModal()">Add Product</button>

<button class="add-product-btn">
  <a routerLink="/products/table" routerLinkActive="active"> Go To Table</a>
</button>

<div class="product-container">
  <div class="loader-container" *ngIf="isLoading">
    <div class="loader"></div>
  </div>
  <div *ngFor="let product of products" class="product-card">
    <img
      [src]="product.productImageUrl"
      alt="{{ product.productName }}"
      class="product-image"
    />
    <div class="product-details">
      <h3 class="product-name" [ngStyle]="{ color: 'orange' }">
        {{ product.productName }}
      </h3>
      <p class="product-description" [appTextColour]="'blue'">
        {{ product.productDescription }}
      </p>
      <p class="product-price">Price: {{ product.productPrice }}</p>
      <p class="product-category">Category: {{ product.categoryName }}</p>
    </div>
    <div class="product-actions">
      <button class="btn-edit" (click)="openEditModal(product)">Edit</button>
      <button class="btn-delete" (click)="deleteProduct(product.productId)">
        Delete
      </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet> -->

<!-- <div
  *ngIf="showModal"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
>
  <div
    class="bg-white p-6 rounded-lg w-4/5 h-4/5 max-w-lg max-h-[80vh] overflow-auto"
  >
    <h3 class="text-lg font-semibold text-center mb-4">
      {{ isEditMode ? "Edit Product" : "Add Product" }}
    </h3>
    <form #productForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="space-y-4">
        <div>
          <label for="productSku" class="block font-medium">Product SKU</label>
          <input
            id="productSku"
            type="text"
            [(ngModel)]="productFormData.ProductSku"
            name="productSku"
            #productSku="ngModel"
            required
            minlength="3"
            class="w-full border rounded p-2"
          />
          <div
            *ngIf="productSku.invalid && productSku.touched"
            class="text-red-500 text-sm"
          >
            <small *ngIf="productSku.errors?.['required']"
              >Product SKU is required.</small
            >
            <small *ngIf="productSku.errors?.['minlength']"
              >Must be at least 3 characters long.</small
            >
          </div>
        </div>

        <div>
          <label for="productName" class="block font-medium"
            >Product Name</label
          >
          <input
            id="productName"
            type="text"
            [(ngModel)]="productFormData.ProductName"
            name="productName"
            #productName="ngModel"
            required
            class="w-full border rounded p-2"
          />
          <div
            *ngIf="productName.invalid && productName.touched"
            class="text-red-500 text-sm"
          >
            <small>Product Name is required.</small>
          </div>
        </div>

        <div>
          <label for="shortName" class="block font-medium">Short Name</label>
          <input
            id="shortName"
            type="text"
            [(ngModel)]="productFormData.ProductShortName"
            name="shortName"
            #shortName="ngModel"
            required
            class="w-full border rounded p-2"
          />
          <div
            *ngIf="shortName.invalid && shortName.touched"
            class="text-red-500 text-sm"
          >
            <small>Short Name is required.</small>
          </div>
        </div>

        <div>
          <label for="description" class="block font-medium">Description</label>
          <textarea
            id="description"
            [(ngModel)]="productFormData.ProductDescription"
            name="description"
            #description="ngModel"
            required
            class="w-full border rounded p-2 h-24 resize-none"
          ></textarea>
          <div
            *ngIf="description.invalid && description.touched"
            class="text-red-500 text-sm"
          >
            <small>Description is required.</small>
          </div>
        </div>

        <div>
          <label for="imageUrl" class="block font-medium">Image URL</label>
          <input
            id="imageUrl"
            type="url"
            [(ngModel)]="productFormData.ProductImageUrl"
            name="imageUrl"
            #imageUrl="ngModel"
            required
            pattern="https?://.+"
            class="w-full border rounded p-2"
          />
          <div
            *ngIf="imageUrl.invalid && imageUrl.touched"
            class="text-red-500 text-sm"
          >
            <small *ngIf="imageUrl.errors?.['required']"
              >Image URL is required.</small
            >
            <small *ngIf="imageUrl.errors?.['pattern']"
              >Enter a valid URL (starting with http or https).</small
            >
          </div>
        </div>

        <div>
          <label for="productPrice" class="block font-medium"
            >Product Price</label
          >
          <input
            id="productPrice"
            type="number"
            [(ngModel)]="productFormData.ProductPrice"
            name="productPrice"
            #productPrice="ngModel"
            required
            min="1"
            class="w-full border rounded p-2"
          />
          <div
            *ngIf="productPrice.invalid && productPrice.touched"
            class="text-red-500 text-sm"
          >
            <small *ngIf="productPrice.errors?.['required']"
              >Product Price is required.</small
            >
            <small *ngIf="productPrice.errors?.['min']"
              >Must be greater than 0.</small
            >
          </div>
        </div>
      </div>

      <div class="flex justify-end space-x-2 mt-4">
        <button
          type="button"
          (click)="closeModal()"
          class="bg-gray-300 px-4 py-2 rounded"
        >
          Cancel
        </button>
        <button
          type="submit"
          [disabled]="productForm.invalid"
          class="bg-blue-500 text-white px-4 py-2 rounded"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>

<div class="flex justify-end mr-8">
  <button
    (click)="openModal()"
    class="bg-blue-600 text-white px-4 py-2 rounded-full shadow-lg hover:bg-blue-800"
  >
    + Add Product
  </button>
</div> -->

<div
  *ngIf="showModal"
  #modalContainer
  class="fixed inset-0 z-9999 flex items-center justify-center bg-black bg-opacity-50"
  role="dialog"
  aria-labelledby="modalTitle"
  aria-modal="true"
  tabindex="-1"
>
  <div
    class="bg-white z-9999 p-6 rounded-lg w-4/5 h-auto max-w-lg max-h-[80vh] overflow-auto"
  >
    <h3 id="modalTitle" class="text-lg font-semibold text-center mb-4">
      {{ isEditMode ? "Edit Product" : "Add Product" }}
    </h3>
    <form #productForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="space-y-4">
        <div>
          <label for="productSku" class="block font-medium">Product SKU</label>
          <input
            id="productSku"
            type="text"
            [(ngModel)]="productFormData.ProductSku"
            #firstFocusable
            name="productSku"
            #productSku="ngModel"
            required
            minlength="3"
            class="w-full border rounded p-2"
            aria-describedby="skuError"
          />
          <div
            *ngIf="productSku.invalid && productSku.touched"
            class="text-red-500 text-sm"
            id="skuError"
            role="alert"
          >
            <small *ngIf="productSku.errors?.['required']">
              Product SKU is required.
            </small>
            <small *ngIf="productSku.errors?.['minlength']">
              Must be at least 3 characters long.
            </small>
          </div>
        </div>

        <div>
          <label for="productName" class="block font-medium"
            >Product Name</label
          >
          <input
            id="productName"
            type="text"
            [(ngModel)]="productFormData.ProductName"
            name="productName"
            #productName="ngModel"
            required
            class="w-full border rounded p-2"
            aria-describedby="nameError"
          />
          <div
            *ngIf="productName.invalid && productName.touched"
            class="text-red-500 text-sm"
            id="nameError"
            role="alert"
          >
            <small>Product Name is required.</small>
          </div>
        </div>

        <div>
          <label for="shortName" class="block font-medium">Short Name</label>
          <input
            id="shortName"
            type="text"
            [(ngModel)]="productFormData.ProductShortName"
            name="shortName"
            #shortName="ngModel"
            required
            class="w-full border rounded p-2"
            aria-describedby="shortNameError"
          />
          <div
            *ngIf="shortName.invalid && shortName.touched"
            class="text-red-500 text-sm"
            id="shortNameError"
            role="alert"
          >
            <small>Short Name is required.</small>
          </div>
        </div>

        <div>
          <label for="description" class="block font-medium">Description</label>
          <textarea
            id="description"
            [(ngModel)]="productFormData.ProductDescription"
            name="description"
            #description="ngModel"
            required
            class="w-full border rounded p-2 h-24 resize-none"
            aria-describedby="descError"
          ></textarea>
          <div
            *ngIf="description.invalid && description.touched"
            class="text-red-500 text-sm"
            id="descError"
            role="alert"
          >
            <small>Description is required.</small>
          </div>
        </div>
      </div>

      <div class="flex justify-end space-x-2 mt-auto">
        <button
          type="button"
          #closeButton
          (click)="closeModal()"
          class="bg-gray-300 px-4 py-2 rounded"
          aria-label="Cancel and close modal"
        >
          Cancel
        </button>
        <button
          type="submit"
          [disabled]="productForm.invalid"
          class="bg-blue-500 text-white px-4 py-2 rounded"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Add Product Button -->
<div class="flex justify-end mr-8">
  <button
    (click)="openModal()"
    class="bg-blue-600 text-white px-4 py-2 rounded-full shadow-lg hover:bg-blue-800"
    aria-label="Add a new product"
  >
    + Add Product
  </button>
</div>

<!-- Products List -->
<div class="p-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-6 gap-6">
    <div
      *ngFor="let product of products"
      class="bg-white shadow-lg rounded-lg p-4"
    >
      <img
        [src]="product.productImageUrl"
        alt="{{ product.productName }}"
        class="w-full h-40 object-cover rounded-md"
      />
      <div class="mt-4">
        <h3 class="text-lg font-semibold text-orange-600">
          {{ product.productName }}
        </h3>
        <!-- <p class="text-blue-500">{{ product.productDescription }}</p> -->
        <p class="text-gray-700 font-bold">
          Price: ${{ product.productPrice }}
        </p>
        <p class="text-gray-600">Category: {{ product.categoryName }}</p>
      </div>
      <div class="flex justify-between mt-4">
        <button
          (click)="openEditModal(product)"
          class="px-3 py-1 bg-green-500 text-white rounded hover:bg-green-700"
        >
          Edit
        </button>
        <button
          (click)="deleteProduct(product.productId)"
          class="px-3 py-1 bg-red-500 text-white rounded hover:bg-red-700"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
