.form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 5rem;
  align-items: center;
  gap: 2rem;
}

/* Add styles for red and green borders */
.border-red {
  border: 2px solid red;
}

.border-green {
  border: 2px solid green;
}

/* Style for the error message */
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
