/* General styling for the dialog container */
:host {
  display: block;
  padding: 1rem;
  padding-left: 4rem;
}
.form-group {
  width: 100%;
}
.title {
  padding-left: 5rem;
}
/* Dialog title styling */
mat-dialog-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

/* Form container styling */
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form-group {
  width: 70% !important;
}
/* MatFormField styling for spacing */
.mat-form-field {
  width: 70%;
}

/* Dialog actions container */
.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

/* Cancel button styling */
button[mat-button] {
  color: #757575;
}

/* Save button styling */
button[mat-raised-button] {
  font-weight: bold;
  text-transform: uppercase;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  :host {
    padding: 0.5rem;
  }

  mat-dialog-title {
    font-size: 1.25rem;
  }

  .modal-actions {
    flex-direction: column;
    gap: 1rem;
  }
}

::ng-deep .mat-form-field {
  width: 100%; /* Or adjust the width as needed */
  /* max-width: 400px;  */
}
